<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Equipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Conteúdo do card -->
  <ion-card>
    <img alt="Silhouette of mountains" src="./assets/img/anna.jpeg" />
    <ion-card-header>
      <ion-card-title>Anna Renata, 19</ion-card-title>
      <ion-card-subtitle>Estudante de Analise e Desenvolvimento de Sistemas na UNISUAM</ion-card-subtitle>
    </ion-card-header>

    <img alt="Silhouette of mountains" src="./assets/img/isac.jpeg" />
    <ion-card-header>
      <ion-card-title>Isac Augusto, 22</ion-card-title>
      <ion-card-subtitle>Estudante de Analise e Desenvolvimento de Sistemas na UNISUAM</ion-card-subtitle>
    </ion-card-header>

    <img alt="Silhouette of mountains" src="./assets/img/kevin.jpeg" />
    <ion-card-header>
      <ion-card-title>Kevin Jackson, 26</ion-card-title>
      <ion-card-subtitle>Estudante de Analise e Desenvolvimento de Sistemas na UNISUAM</ion-card-subtitle>
    </ion-card-header>

    <img alt="Silhouette of mountains" src="./assets/img/pedro.jpeg" />
    <ion-card-header>
      <ion-card-title>Pedro Henrique, 24</ion-card-title>
      <ion-card-subtitle>Estudante de Analise e Desenvolvimento de Sistemas na UNISUAM</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
